<section id="top" class="one dark cover" style="height: 500px;">
  <div class="container">

    <%= form_tag sessions_path do %>
      <div class="row" style="margin-left: 5em;">
        <div class="9u">
          <%= text_field_tag :username, nil, placeholder: "Username" %>
        </div>
        <div class="9u">
          <%= password_field_tag :password, nil, placeholder: "Password" %>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <input type="submit" value="Log in!" />
        </div>
      </div>
    <% end %>
  </div>
</section>
