

<section id="top" class="one dark cover" style="height: 500px;">
  <div class="container">
    <h3>Yup, just one big button.</h3>
    <%= form_for @user do |f| %>
      <div class="row" style="margin-left: 5em;">
        <div class="9u">
          <%= f.file_field :avatar %>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <input type="submit" value="Upload!" />
        </div>
      </div>
    <% end %>
  </div>
</section>
